/* 页面样式初始化 */
body, p , h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #000;
}


a {
    text-decoration: none;
    color: #000;
}


input, img {
    /* 去掉边框 */
    border: 0 none;
    /* 轮廓线 */
    outline-style: none;
    vertical-align: middle;
    padding: 0;
    /* display: block; */
}

/* 清除浮动 */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}


.left {
     float: left;
}

.right {
     float: right;
}
